#header {
  background-color: #ffe354;
  width: 100%;
  height: 50px;
  margin-bottom: 1%;
}

#user-info {
  float: right;
  text-align: right;
  margin: 2px 0 0 0;
  height: 50px;
}


#admin-button {
  float: right;
  height: 80%;
  /* width: 10%;
  border-radius: 0%; */
  /* padding: 4px 15px 0 10px; */
  margin: .2% .2%
}

